<ion-header>
  <ion-toolbar>
    <ion-title>User information</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-card>
    <div class="ion-text-center">
      <app-image-upload 
        [image]="user.photoURL"
        imageType="user.photoURL"
        forceName="userPhotoURL"
        (notify)="changePhotoUrl($event)"
      ></app-image-upload>
    </div>

    <ion-card-header>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
      <ion-card-title>
        <ion-input
          #displayName
          type="text"
          value="{{ user.displayName }}"
          placeholder="Tell me your name..."
          (ionBlur)="changeDisplayName()"
          debounce="2000"></ion-input>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item lines="full">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Toggle Dark Theme
          </ion-label>
          <ion-segment (ionChange)="toggleMode($event)" slot="end" [value]="user.theme" >
            <ion-segment-button value="system">
              <ion-label>System</ion-label>
            </ion-segment-button>
            <ion-segment-button value="light">
              <ion-label>Light</ion-label>
            </ion-segment-button>
            <ion-segment-button value="dark">
              <ion-label>Dark</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
        <ion-item lines="full">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>
            Exit app
          </ion-label>
          <ion-button expand="block" color="danger" (click)="logOut()" slot="end">
            Log Out
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>
</ion-content>
