<ion-app>
  <!-- COLLECT MENU -->
  <ion-menu side="start" menuId="collect" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Collect Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/app/collect">
            Collections
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/app/collect/all">
            All Collections
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
