<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Collect
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="collect"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-collection-todos *ngIf="openedCollection" [collection]="openedCollection"></app-collection-todos>
</ion-content>

<ion-footer [class.closed]="footerClosed">
    <ion-text color="primary" (click)="toggleFooter()">
      <h2>Collections</h2>
    </ion-text>

    <ion-slides #colletionsSlider 
      id="collection_slides" 
      pager="false" 
      [options]="slideOpts" 
      *ngIf="(collections$ | async); else collectionsLoading;"
      >

    <ion-slide *ngFor="let collection of collections$ | async" class="collection_slider">
      <app-collection [collection]="collection" (notifyCollection)="openCollection($event)"></app-collection>
    </ion-slide>

  </ion-slides>
  
  <ng-template #collectionsLoading>
    <main>
      Retreiving collections...
    </main>
  </ng-template>

</ion-footer>

