<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Collect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Collect</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="reorderCollections()">Reorder</ion-button>

  <ng-container *ngIf="collectionsLoaded; else collectionsLoading;">

    <app-collection *ngFor="let collection of collections$ | async" [collection]="collection"></app-collection>
  
    <ion-infinite-scroll (ionInfinite)="findNext($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  
  <ng-template #collectionsLoading>
    <main>
      Retreiving collections...
    </main>
  </ng-template>

</ion-content>
