<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Collect
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="collect"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="(collections$ | async); else collectionsLoading;">

    <app-collection *ngFor="let collection of collections$ | async" [collection]="collection"></app-collection>
  
  </ng-container>
  
  <ng-template #collectionsLoading>
    <main>
      Retreiving collections...
    </main>
  </ng-template>

</ion-content>
