<ion-header>
  <ion-toolbar>
    <ion-title>User information</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-text-center">
      <img src="{{ userInfo.photoURL }}" style="width:100%">
    </div>

    <ion-card-header>
      <ion-card-subtitle>{{ userInfo.email }}</ion-card-subtitle>
      <ion-card-title>
        <ion-input type="text" #displayName value="{{ userInfo.displayName }}" placeholder="Your name..." required></ion-input>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item lines="full">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Toggle Dark Theme
          </ion-label>
          <ion-toggle [checked]="toggleStatus" (ionChange)="toggleMode($event)" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="full">
          <ion-button expand="block" color="danger" (click)="logOut()">
            Log Out
            <ion-icon slot="end" name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>
</ion-content>
